{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Morfeusz</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>

  <body>
    {% if user.is_authenticated %}
    <header class="header-container">
      <div class="main-container">
        <div class="logo-cont">
          <a href="{% url 'morfeusz_app-home' %}">
            <img
              width="48px"
              height="48px"
              viewbox="0 0 48 48"
              src="{% static 'images/morf_logo.png' %}"
              alt="mofeusz_logo"
            />
          </a>
        </div>
        <label for="menu-toggle" class="label-cls">
          <div>
            <img
              class="menu-img"
              src="{% static 'images/dropdown_icon.png' %}"
              alt="menu-icon"
            />
          </div>
        </label>
        <input type="checkbox" id="menu-toggle" class="input-dropdown" />
        <div class="nav-items" id="menu">
          <div class="items-container">
            <ul class="items-list">
              <li><a href="">Your Movies </a></li>

              <li>
                <a href="{% url 'users:profile' %}">Profile</a>
              </li>
              <li>
                <a href="{% url 'users:logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="main-content">
      <div class="main-content-cards">
        {% block content %}{% endblock content%}
      </div>
    </div>
    <footer class="footer-container">
      <a href="{% url 'morfeusz_app-home' %}">
        <img
          width="48px"
          height="48px"
          viewbox="0 0 48 48"
          src="{% static 'images/morf_logo.png' %}"
          alt="mofeusz_logo"
        />
      </a>

      <p class="social-p">Follow us:</p>
      <div class="images-container" style="gap: 0.5rem">
        <a rel="noreferrer" href="https://www.facebook.com/" target="_blank">
          <img
            width="24px"
            height="24px"
            viewbox="0 0 24 24"
            src="{% static 'images/fb_icon.png' %}"
            alt="facebook-logo"
          />
        </a>
        <a rel="noreferrer" href="https://www.instagram.com/" target="_blank">
          <img
            width="24px"
            height="24px"
            viewbox="0 0 24 24"
            src="{% static 'images/insta_icon.png' %}"
            alt="instagram-logo"
          />
        </a>
        <a rel="noreferrer" href="https://www.twitter.com/" target="_blank">
          <img
            width="24px"
            height="24px"
            viewbox="0 0 24 24"
            src="{% static 'images/twitter_icon.png' %}"
            alt="twitter-logo"
          />
        </a>
      </div>
    </footer>
    {% else %}
    <div class="container">
      <div class="image-div-morf">
        <a href="{% url 'morfeusz_app-home' %}"
          ><img src="{% static 'images/morf_logo.png' %}" alt="morfeusz_logo"
        /></a>
      </div>
      <div class="wrapper">
        <div class="side">
          <h1 id="title">
            Welcome to <br />
            Morfeusz!
          </h1>
          <p class="text-home" id="lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            quam eaque itaque laboriosam nihil exercitationem, cupiditate esse
            error possimus aliquid.
          </p>
          <div class="socialmedia">
            <p class="social-p"><b>Follow us:</b></p>
            <div class="images-container">
              <a
                rel="noreferrer"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <div class="image-div-social">
                  <img
                    src="{% static 'images/fb_icon.png' %}"
                    alt="facebook-logo"
                  />
                </div>
              </a>
              <a
                rel="noreferrer"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <div class="image-div-social">
                  <img
                    src="{% static 'images/insta_icon.png' %}"
                    alt="instagram-logo"
                  />
                </div>
              </a>
              <a
                rel="noreferrer"
                href="https://www.twitter.com/"
                target="_blank"
              >
                <div class="image-div-social">
                  <img
                    src="{% static 'images/twitter_icon.png' %}"
                    alt="twitter-logo"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="side" id="rightside">
          <div id="important-text">
            <p class="text-home">
              If You don't have an account, <b>sign up</b>!
            </p>
            <a id="btn-link-red" href="{% url 'users:register' %}"
              >Create an Acccount</a
            >
          </div>
          <div id="important-text">
            <p class="text-home">
              If You already have an account, <b>log in</b>!
            </p>
            <a class="link" id="btn-link-blue" href="{% url 'users:login' %}"
              >Log In</a
            >
            <div class="footer"></div>
          </div>
        </div>
        <footer class="footer"></footer>
      </div>
    </div>
    {% endif %}
  </body>
</html>
