{% extends "morfeusz_app/base.html" %} {% block content %}
<div>
  <div class="grid">
    {% if user.is_authenticated %}

    <div class="card" style="background-color: white">
      <h1 style="font-size: x-large">Qualify Movies</h1>
      <p style="margin-bottom: 2rem; width: 80%">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere libero
        quos qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
        consequuntur dolorem neque commodi necessitatibus soluta, aspernatur
        rerum a recusandae itaque ad.
      </p>
      <a
        id="btn-link-blue"
        class="btn btn-primary"
        href="{% url 'users:movie_qualification' %}"
        >Qualify</a
      >
    </div>
    <div class="card" style="background-color: white">
      <h1 style="font-size: x-large">Groups</h1>
      <p style="margin-bottom: 2rem; width: 80%">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere libero
        quos qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
        consequuntur dolorem neque commodi necessitatibus soluta, aspernatur
        rerum a recusandae itaque ad.
      </p>
      <a id="btn-link-blue" href="/groups/">Manage groups</a>
    </div>

    <div class="card" style="background-color: white">
      <h1 style="font-size: x-large">Friends</h1>

      <a id="btn-link-blue" href="{% url 'users:send_friend_request' %}"
        >Send friend request</a
      >

      <h3>Friend request sent from:</h3>
      {% for fr_req in request_from %} {{ fr_req }}
      <a href="/users/accept_friend_request/{{ fr_req.id }}">Accept</a>
      <a href="/users/decline_friend_request/{{ fr_req.id }}">Decline</a> <br />
      {% endfor %}

      <h3>Friend request sent to:</h3>
      {% for fr_req in request_to %} {{ fr_req.receiver }}<a
        href="/users/cancel_friend_request/{{ fr_req.id }}"
        >Cancel</a
      >
      <br />
      {% endfor %}

      <h3>Friend List:</h3>
      {% for friend in friend_list.friends.all %} {{ friend }}
      <a href="/users/unfriend/{{ friend.id }}">Unfriend</a> <br />
      {% endfor %}
    </div>
  </div>
</div>

{% endif %} {% endblock content %}
