{% extends "morfeusz_app/base.html" %}
{% block content %}
    <h1>{{ group.name }}</h1>

    <h2>Group members</h2>
    {% for member in members %}
    {{ member }} <a href="/delete_from_group/{{ group.id }}/{{ member.id }}">Delete from group</a> <br>
    {% endfor %}


    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form.as_p }}
            <button type="submit">Add member</button>
        </fieldset>
    </form>

    <a href="/recomended_movies/{{ group.id }}">Find movies to watch!</a> 

{% endblock content %}