{% extends "morfeusz_app/base.html" %} {% load static %} {% block content %}

<style>
  .cover {
    background-image: url("{% static background %}");
  }
</style>
<div class="cover">
  {#
  <img
    src="{% static background %}"
    alt="Smiley face"
    width="250"
    height="250"
  />#}

  <h1>{{ user.username }}</h1>
  <img src="{% static profile_pic %}" alt="Profile pic" height="200" /><br />
</div>

<a class="btn btn-primary" href="{% url 'users:upload_images' %}"
  >Change profile and background picture</a
>

{# <img src="{% static background %}" alt="My image" />#} {% endblock content %}
